<section class='spotlight'>
  <h2 class='spotlight-header'>
    <span class="spotlight__header--prefix">Media Spotlight:</span> <%= link_to @spotlight.title, work_path(@spotlight.id, class: "spotlight__link-to") %> </h2> <p class="spotlight__description"><%= @spotlight.votes.count %> votes - <%= @spotlight.description %> </p>
</section>




<section class="top-ten__container">
  <section class='top-ten__header'>
  <% [@books, @movies, @albums].each do |category|  %>
    <h2 class="top-ten__header">Top HOW TO LIST THE CATEGORY????</h2>
      <ul class='list-group top_ten__list'>
        <% if category.empty? %>
          <li class="list-group-item">There are no works in the ranking system!  Would you like to add one?</li>
        <% else %>
          <% category.each do |item| %>
            <li class='list-group-item'>
              <h4><%= link_to item.title, work_path(item.id) %>
              <small class='top-ten__creator'>by <%= item.creator %></small></h4>
              <p><%= item.votes.count%> votes</p>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </section>    
</section>