<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1 class='app-header__header'>
      <%= link_to 'Media Ranker', root_path %>
      <small>Ranking the Best of Everything</small>
    </h1>

    <nav class="app-header__nav">
      <ul class="nav app-header__site-nav-container">
        <li class="nav-item app-header__nav_item">
          <%= link_to 'View Top Media', root_path %>
        </li>
        <li class="nav-item app-header__nav_item">
          <%= link_to 'View All Media', works_path %>
        </li>
        <li class="nav-item app-header__nav_item">
          <%= link_to 'Add New Media', new_work_path %>
        </li>
        <li class="nav-item app-header__nav_item">
          <%# TODO: UPDATE THIS LINK TO GO TO USERS%>
          <%= link_to 'View All Users', root_path %>
        </li>
      </ul>
      
      <ul class="nav app-header__user-nav-container">
        <li class="nav-item app-header__nav_item">
          <%# TODO: UPDATE THIS LINK TO GO TO LOGIN%>
          <%= link_to 'Log In', root_path %>
        </li>
      </ul>
    </nav>

    <section class='errors'>
      <% flash.each do |name, message| %>
        <strong class="<%= name %>" ></strong><%= message %>
      <% end %>
    </section>

    <%= yield %>
  </body>
</html>
